<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="search" type="application/opensearchdescription+xml" title="Hackwage" href="/opensearch.xml"/>

{% include "rss/favicon.html" %}

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/base.css" rel="stylesheet">

{{ ANALYTICS|safe }}

<script>
    function noenter() {
        console.log(window.event);
        return !(window.event && window.event.keyCode == 13);
    }
</script>
