{% extends "rss/base.html" %}

{% block title %}{{ q }} Job Search{% endblock %}
{% block description %}{{ q }} Jobs Search{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="row py-4">
            <div class="col-12">
                {% include "rss/search_bar.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h3>
                    Results for: {{ q }}
                </h3>
            </div>
            <div class="col-2" style="text-align: right;">
                <h3>
                    {% if page_num %}Page {{ page_num }}{% endif %}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="list-group py-3">
                    {% for hit in hits %}
                        <a href="/job/{{ hit.title|slugify }}/?id={{ hit.meta.id|urlencode }}&q={{ q }}"
                           class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <span class="search-result mb-1">{{ hit.title }}</span>
                                <small>
                                    {{ hit.pubDate|date }}
{#                                     ({{ hit.meta.score }}) #}
                                </small>
                            </div>
                            <p class="mb-1"> {{ hit.body|truncatechars:400 }}</p>
                            <small>{{ hit.link }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "rss/pagination.html" %}
    </main>
{% endblock %}
